{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class='o-wrapper'>
      <div class='o-grid'>
        
<div class='o-grid__col o-grid__col--center o-grid__col--3-4-m o-grid__col--2-3-l'>
    <div class='c-archive'>
      <h1 class='c-archive__title'>Create Pot</h1>
      <p class='c-archive__description'>Create Post page</p>
    </div>

    <div class='u-bg-white u-border u-border-radius u-p-32'>
      <form data-members-form='signin' class='c-subscribe-form c-subscribe-form--compact' method="POST" action='{% url "create" %}' enctype="multipart/form-data">
      {% csrf_token %}
        <div class='form-group'>
          <label for='subscribe-email-signin' class='u-hidden-visually'>Project title</label>
          <input type='text' name='title' class='c-subscribe-form__input' id='subscribe-email-signin' placeholder='Your Project Title' required data-members-email>
        </div>
        <br>
        <div class='form-group'>
          <label for='subscribe-email-signin' class=''>Image:</label>
          <input type='file' name='image' class='c-subscribe-form__input' id='subscribe-email-signin' placeholder='Your Project Title' required data-members-email>
        </div>
        <br>
        <div class='form-group'>
          <label for='subscribe-email-signin' class='u-hidden-visually'>Snippet</label>
          <input type='text' name='snippet' class='c-subscribe-form__input' id='subscribe-email-signin' placeholder='Your Project Title' required data-members-email>
        </div>
        <br>
        <div class='form-group'>
          <label for='subscribe-email-signin' class='u-hidden-visually'>Content</label>
          <textarea type='text' name='content' class='c-subscribe-form__input' id='subscribe-email-signin' placeholder='Your Project Title' required data-members-email></textarea>
        </div>
        <br>
        <div class='form-group'>
          <label for='subscribe-email-signin' class=''>Project Document:</label>
          <input type='file' name='document' class='c-subscribe-form__input' id='subscribe-email-signin' placeholder='Your Password' required data-members-email>
        </div>
        <button type="submit" class="c-btn c-btn--small c-btn--action">Post</button>

        <div class='c-alert c-alert--success'>Please check your inbox and click the link to complete the login.</div>
        <div class='c-alert c-alert--invalid'>Please enter a valid email address!</div>
        <div class='c-alert c-alert--error'>An error occurred, please try again later.</div>
      </form>
      <p class='u-type-xs u-mt-16'>Don&#x27;t have an account yet? <a href='../subscribe/index.html' class='u-link'>Subscribe</a></p>
    </div>
</div>
      </div>
    </main>


{% endblock %}