{% extends 'base.html' %} {% load static %} {% block content %}

<main class="o-wrapper">
  <div class="o-grid">
    <div class="
				o-grid__col
				o-grid__col
				o-grid__col--center
				o-grid__col--9-10-m
				o-grid__col--2-3-l
			">
      <article class="c-post tag-design">
        <figure class="c-post-image-wrap">
          <img alt="" class="c-post-image lazyload" src="{{ post.ImgUrl }}"/>
        </figure>

        <header class="c-post-header">
          <h1 class="c-post-header__title">
            {{ post.title }}
          </h1>
          <div class="c-post-header__meta">
            <a href="../author/top/index.html" class="c-post-header__author">
              <div class="c-post-header__author_media">
                <img class="c-post-header__author_image lazyload" data-src="" alt="William James" width="32"
                  height="32" />
              </div>
              <div class="c-post-header__author_info">
                <div class="c-post-header__author_name">{{ post.user.username }}</div>
                <time class="c-post-header__date" datetime="2019-10-16" title="16 October 2019">{{ post.date }}</time>
              </div>
            </a>

            <ul class="c-share o-plain-list">
              <li class="c-share__item">
                <a class="c-share__link" title="Share on Twitter" aria-label="Share on Twitter"
                  href="https://twitter.com/share?text=Tech%20Companies%20Scaling%20Design&amp;url=https://krabi.aspirethemes.com/welcome-2/"
                  onclick="window.open(this.href, 'twitter-share', 'width=550, height=235'); return false;">
                  <span data-icon="ei-sc-twitter" data-size="s" class="c-share__icon"></span>
                </a>
              </li>

              <li class="c-share__item">
                <a class="c-share__link" title="Share on Facebook" aria-label="Share on Facebook"
                  href="https://www.facebook.com/sharer/sharer.php?u=https://krabi.aspirethemes.com/welcome-2/"
                  onclick="window.open(this.href, 'facebook-share', 'width=580, height=296'); return false;">
                  <span data-icon="ei-sc-facebook" data-size="s" class="c-share__icon"></span>
                </a>
              </li>

              <li class="c-share__item">
                <a class="c-share__link" title="Share on LinkedIn" aria-label="Share on LinkedIn"
                  href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://krabi.aspirethemes.com/welcome-2/&amp;title=Tech%20Companies%20Scaling%20Design"
                  onclick="window.open(this.href, 'linkedin-share', 'width=580, height=296'); return false;">
                  <span data-icon="ei-sc-linkedin" data-size="s" class="c-share__icon"></span>
                </a>
              </li>

              <li class="c-share__item">
                <a class="c-share__link" title="Share on Pinterest" aria-label="Share on Pinterest"
                  href="http://pinterest.com/pin/create/button/?url=https://krabi.aspirethemes.com/welcome-2/&amp;media=https://krabi.aspirethemes.com/content/images/2020/11/united-nations-covid-19-response-EJrK0J8Jr7U-unsplash--1--2.jpg&amp;description=Tech%20Companies%20Scaling%20Design"
                  onclick="window.open(this.href, 'pinterest-share', 'width=580, height=296'); return false;">
                  <span data-icon="ei-sc-pinterest" data-size="s" class="c-share__icon"></span>
                </a>
              </li>

              <li class="c-share__item">
                <a class="c-share__link" title="Share via Email" aria-label="Share via Email"
                  href="mailto:?subject=Tech%20Companies%20Scaling%20Design&body=https://krabi.aspirethemes.com/welcome-2/">
                  <span data-icon="ei-envelope" data-size="s" class="c-share__icon"></span>
                </a>
              </li>

              <li class="c-share__item">
                <a class="c-share__link js-share__link--clipboard" title="Copy link" aria-label="Copy link" href="#"
                  data-clipboard-text="index.html" onclick="return false;">
                  <span data-icon="ei-link" data-size="s" class="c-share__icon"></span>
                </a>
              </li>
            </ul>
          </div>
        </header>
        <section class="c-content">
          <p>
          {{ post.content }}
          </p>
        </section>

        <section class="c-card-author">
          <div class="c-card-author__media">
            <a href="../author/top/index.html">
              <img class="c-card-author__image lazyload"
                data-src="/content/images/size/w160/2020/11/guillaume-bleyer-Dep2HTKqGj0-unsplash-5.jpg"
                alt="William James" width="80" height="80" />
            </a>
          </div>

          <div class="c-card-author__content">
            <h3 class="c-card-author__name">
              <a href="../author/top/index.html">{{ post.user.username }}</a>
              <a href="https://twitter.com/aspirethemes" aria-label="Twitter" target="_blank" rel="noopener">
                <div class="icon icon--ei-sc-twitter icon--s">
                  <svg class="icon__cnt">
                    <use xlink:href="#ei-sc-twitter-icon">
                      <svg id="ei-sc-twitter-icon" viewBox="0 0 50 50">
                        <path
                          d="M39.2 16.8c-1.1.5-2.2.8-3.5 1 1.2-.8 2.2-1.9 2.7-3.3-1.2.7-2.5 1.2-3.8 1.5-1.1-1.2-2.7-1.9-4.4-1.9-3.3 0-6.1 2.7-6.1 6.1 0 .5.1.9.2 1.4-5-.2-9.5-2.7-12.5-6.3-.5.7-.8 1.7-.8 2.8 0 2.1 1.1 4 2.7 5-1 0-1.9-.3-2.7-.8v.1c0 2.9 2.1 5.4 4.9 5.9-.5.1-1 .2-1.6.2-.4 0-.8 0-1.1-.1.8 2.4 3 4.2 5.7 4.2-2.1 1.6-4.7 2.6-7.5 2.6-.5 0-1 0-1.4-.1 2.4 1.9 5.6 2.9 9 2.9 11.1 0 17.2-9.2 17.2-17.2V20c1.2-.9 2.2-1.9 3-3.2z">
                        </path>
                      </svg>
                    </use>
                  </svg>
                </div>
              </a>
            </h3>

            <p class="c-card-author__bio">
              {{ post.snippet }}
            </p>
          </div>
        </section>
        <hr />
      </article>   

      
    </div>
    <div class="
				o-grid__col
				o-grid__col
				o-grid__col--center
				o-grid__col--9-10-m
				o-grid__col--1-3-l
			">
      <div class="c-sidebar">


        
        <div class="c-widget">
          <div class="c-title-bar">
            <h3 class="c-title-bar__title">Recent Posts</h3>
          </div>

          {% for post in fposts %}
          <a href="{% url 'detail' post.slug %}" class="c-teaser">
            <div class="c-teaser__content">
              <h3 class="c-teaser__title">
                {{ post.title }}
              </h3>
              <time class="c-teaser__date" datetime="2017-03-27" title="27 March 2017">{{ post.date }}</time>
            </div>
            <div class="c-teaser__media">
              <img class="c-teaser__image lazyload" alt="Put a barrier between us and the world!"
                data-src="{{ post.ImgUrl }}" width="88"
                height="72" />
            </div>
          </a>
          {% endfor %}
          
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}