{% extends 'base.html' %}

{% block content %}




			<main class="o-wrapper">
				<div class="o-grid">
					<div
						class="
							o-grid__col
							o-grid__col
							o-grid__col--center
							o-grid__col--9-10-m
							o-grid__col--2-3-l
						"
					>
					{% for post in posts %}
          	<div class="js-grid">
							<div class="c-post-card js-post-card post tag-design">
								<div class="c-post-card__media">
									<div class="c-post-card__image-wrap">
										<img
											alt="Tech Companies Scaling Design"
											class="c-post-card__image lazyload"
                      src = "{{ post.ImgUrl }}"

										/>
									</div>
								</div>

								<div class="c-post-card__content">
									<h2 class="c-post-card__title">
										<a href="{% url 'detail' post.slug %}" class="c-post-card__url"
											>{{ post.title }}</a
										>

										<div
											class="
												c-post-card__visibility c-post-card__visibility--public
											"
										>
											<span class="paid">Paid</span>
											<span class="members">Members</span>
											<span class="public">Public</span>
										</div>
									</h2>

									<p class="c-post-card__excerpt">
										{{ post.snippet }}
									</p>

									<div class="c-post-card__meta">
										<a href="link to author here" class="c-post-card__author">
											<div class="c-post-card__author_media">
												<img
													class="c-post-card__author_image lazyload"
													data-src="author img src"
													alt=""
													width="32"
													height="32"
												/>
											</div>
											<div class="c-post-card__author_info">
												<div class="c-post-card__author_name">
													{{ post.user.username }}
												</div>
												<time
													class="c-post-card__date"
													datetime=""
													title=""
													>{{ post.date }}</time
												>
											</div>
										</a>
									</div>
								</div>
							</div>							
							
							
						</div>
          {% endfor %}
						<div
							class="
								o-grid__col
								o-grid__col--center
								o-grid__col--4-4-s
								o-grid__col--2-4-m
								o-grid__col--1-3-l
							"
						>
							
						</div>
					</div>
					<div
						class="
							o-grid__col
							o-grid__col
							o-grid__col--center
							o-grid__col--9-10-m
							o-grid__col--1-3-l
						"
					>
						<div class="c-sidebar">
							<div class="c-widget">
								<div class="c-title-bar">
									<h3 class="c-title-bar__title">Featured Posts</h3>
								</div>

								<a
									href="everybody-listen-we-have-to-put-a-barrier-between-us-and-the-world/index.html"
									class="c-teaser"
								>
									<div class="c-teaser__content">
										<h3 class="c-teaser__title">
											Put a barrier between us and the world!
										</h3>
										<time
											class="c-teaser__date"
											datetime="2017-03-27"
											title="27 March 2017"
											>27 Mar 2017</time
										>
									</div>
									<div class="c-teaser__media">
										<img
											class="c-teaser__image lazyload"
											alt="Put a barrier between us and the world!"
											data-src="/content/images/size/w160/2019/12/martin-widenka-61HdqMxX2lc-unsplash.jpg"
											width="88"
											height="72"
										/>
									</div>
								</a>
								<a
									href="you-got-to-cool-that-shit-off-and-thats-the-double-truth-ruth/index.html"
									class="c-teaser"
								>
									<div class="c-teaser__content">
										<h3 class="c-teaser__title">
											And that&#x27;s the double-truth, Ruth
										</h3>
										<time
											class="c-teaser__date"
											datetime="2015-12-22"
											title="22 December 2015"
											>22 Dec 2015</time
										>
									</div>
									<div class="c-teaser__media">
										<img
											class="c-teaser__image lazyload"
											alt="And that&#x27;s the double-truth, Ruth"
											data-src="/content/images/size/w160/2019/10/heather-ford-5gkYsrH_ebY-unsplash.jpg"
											width="88"
											height="72"
										/>
									</div>
								</a>
								<a
									href="eddie-kim-somehow-managed-to-fill-the-plane-with-poisonous-snakes/index.html"
									class="c-teaser"
								>
									<div class="c-teaser__content">
										<h3 class="c-teaser__title">
											Eddie Kim somehow managed to fill the snakes.
										</h3>
										<time
											class="c-teaser__date"
											datetime="2015-12-21"
											title="21 December 2015"
											>21 Dec 2015</time
										>
									</div>
									<div class="c-teaser__media">
										<img
											class="c-teaser__image lazyload"
											alt="Eddie Kim somehow managed to fill the snakes."
											data-src="/content/images/size/w160/2019/10/angela-bailey-jlo7Bf4tUoY-unsplash-2.jpg"
											width="88"
											height="72"
										/>
									</div>
								</a>
							</div> 
						</div>

					</div>
				</div>
			</main>





{% endblock content %}