{% extends 'base.html' %}

{% block content %}




			<main class="o-wrapper">
				<div class="o-grid">
					<div
						class="
							o-grid__col
							o-grid__col
							o-grid__col--center
							o-grid__col--9-10-m
							o-grid__col--2-3-l
						"
					>
					{% for post in posts %}
          				<div class="js-grid">
							<div class="c-post-card js-post-card post tag-design">
								<div class="c-post-card__media">
									<div class="c-post-card__image-wrap">
										<img
											alt="Tech Companies Scaling Design"
											class="c-post-card__image lazyload"
                      						src = "{{ post.ImgUrl }}"

										/>
									</div>
								</div>

								<div class="c-post-card__content">
									<h2 class="c-post-card__title">
										<a href="{% url 'detail' post.slug %}" class="c-post-card__url"
											>{{ post.title }}</a
										>

										<div
											class="
												c-post-card__visibility c-post-card__visibility--public
											"
										>
											<span class="paid">Paid</span>
											<span class="members">Members</span>
											<span class="public">Public</span>
										</div>
									</h2>

									<p class="c-post-card__excerpt">
										{{ post.snippet }}
									</p>

									<div class="c-post-card__meta">
										<a href="" class="c-post-card__author">
											<div class="c-post-card__author_media">
												<img
													class="c-post-card__author_image lazyload"
													data-src="{{ post.user.profile.picture.url }}"
													alt=""
													width="32"
													height="32"
												/>
											</div>
											<div class="c-post-card__author_info">
												<div class="c-post-card__author_name">
													{{ post.user.username }}
												</div>
												<time
													class="c-post-card__date"
													datetime=""
													title=""
													>{{ post.date }}</time
												>
											</div>
										</a>
									</div>
								</div>
							</div>							
							
							
						</div>
          {% endfor %}
						<div
							class="
								o-grid__col
								o-grid__col--center
								o-grid__col--4-4-s
								o-grid__col--2-4-m
								o-grid__col--1-3-l
							"
						>
							
						</div>
					</div>
					<div
						class="
							o-grid__col
							o-grid__col
							o-grid__col--center
							o-grid__col--9-10-m
							o-grid__col--1-3-l
						"
					>
						<div class="c-sidebar">


        
        <div class="c-widget">
          <div class="c-title-bar">
            <h3 class="c-title-bar__title">Recent Posts</h3>
          </div>
		{% comment %} <form data-members-form='signin' class='c-subscribe-form c-subscribe-form--compact' method="POST" action='{% url "create" %}' enctype="multipart/form-data">
			{% csrf_token %}
			<div class='form-group'>
				<input type="text" id="search-form-input" aria-label="Search Project Work" class="c-search__input js-search-input" placeholder="Type to Search" name="search"/>	
			</div>							
			<button type="submit" class="c-btn c-btn--small c-btn--action">Search</button>
		</form> {% endcomment %}
		<form class='c-subscribe-form c-subscribe-form--compact' method="POST" action='{% url "search" %}'>
      	{% csrf_token %}
        <div class='form-group'>
          <label for='subscribe-email-signin' class='u-hidden-visually'>Project title</label>
          <input type="text" id="form-input" aria-label="Search Project Work" class="input" placeholder="Search" name="search" required>
        </div>
        <button type="submit" class="c-btn c-btn--small c-btn--action">Search</button>	
      </form>
	  <br>

          {% for post in fposts %}
          <a href="{% url 'detail' post.slug %}" class="c-teaser">
            <div class="c-teaser__content">
              <h3 class="c-teaser__title">
                {{ post.title }}
              </h3>
              <time class="c-teaser__date" datetime="" title="">{{ post.date }}</time>
            </div>
            <div class="c-teaser__media">
              <img class="c-teaser__image lazyload" alt="{{ post.ImgUrl }}"
                data-src="{{ post.ImgUrl }}" width="88"
                height="72" />
            </div>
          </a>
          {% endfor %}
          
        </div>
      </div>

					</div>
				</div>
			</main>





{% endblock content %}