{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main class='o-wrapper'>
      <div class='o-grid'>
        
<div class='o-grid__col o-grid__col--center o-grid__col--3-4-m o-grid__col--2-3-l  o-grid__col--4-4-l '>
  <div class='c-archive'>
    <h1 class='c-archive__title'>Choose your subscription</h1>
    <p class='c-archive__description'>Unlock full access to Krabi and see the entire library of members-only content &amp; updates.</p>
  </div>
</div>

<div class='o-grid__col o-grid__col--center o-grid__col--3-4-m o-grid__col--2-3-l  o-grid__col--4-4-l '>
  <div class='c-member-plans'>
    <div class='c-member-plan c-member-plan--free'>
      <header class='c-member-plan__header'>
        <h2 class='c-member-plan__title'>Weekly</h2>
        <span class='c-member-plan__sign'>$</span>
        <strong class='c-member-plan__amount'>10</strong>
      </header>
      <div class='c-member-plan__content'>
        <ul class='c-member-plan__list'>
          <li>Regular updates with new content</li>
          <li>Support independent publishing</li>
        </ul>
        <form method="POST" action="{% url 'initiate-payment' %}" id='form' style="text-align: center;">
        {% csrf_token %}
        <input type='hidden' name='amount' class='c-subscribe-form__input' id='subscribe-email-signin' placeholder='Your email address' required value="10">
        <button type="submit" class='c-btn c-btn--dark'>Choose this plan</button>
        </form>
        
      </div>
    </div>

  <div class='c-member-plan c-member-plan--premium'>
    <header class='c-member-plan__header'>
      <h2 class='c-member-plan__title'>Monthly</h2>
      <span class='c-member-plan__sign'>$</span>
      <strong class='c-member-plan__amount'>35</strong>
    </header>
    <div class='c-member-plan__content'>
      <ul class='c-member-plan__list'>
        <li>Full access to all private posts</li>
        <li>Regular updates with new content</li>
        <li>Support independent publishing</li>
        <li>Simple, secure card payment</li>
      </ul>
      <form method="POST" action="{% url 'initiate-payment' %}" id='form' style="text-align: center;">
        {% csrf_token %}
        <input type='hidden' name='amount' class='c-subscribe-form__input' id='subscribe-email-signin' placeholder='Your email address' required value="35">
        <button type="submit" class='c-btn c-btn--dark'>Choose this plan</button>
        </form>
    </div>
  </div>

  <div class='c-member-plan c-member-plan--premium'>
    <header class='c-member-plan__header'>
      <h2 class='c-member-plan__title'>Yearly</h2>
      <span class='c-member-plan__sign'>$</span>
      <strong class='c-member-plan__amount'>359</strong>
    </header>
    <div class='c-member-plan__content'>
      <ul class='c-member-plan__list'>
        <li>Full access to all private posts</li>
        <li>Regular updates with new content</li>
        <li>Support independent publishing</li>
        <li>Simple, secure card payment</li>
        <li>One easy payment instead of 12!</li>
      </ul>
      <form method="POST" action="{% url 'initiate-payment' %}" id='form' style="text-align: center;">
        {% csrf_token %}
        <input type='hidden' name='amount' class='c-subscribe-form__input' id='subscribe-email-signin' placeholder='Your email address' required value="359">
        <button type="submit" class='c-btn c-btn--dark'>Choose this plan</button>
        </form>
    </div>
  </div>
</div></div>
      </div>
    </main>

    <script>
      function myfunc() {
        document.getElementById('form').submt();
      }
    </script>
{% endblock content %}